<div class="box">
	<div class="city-container">{{city}}</div>
	<div class="time-container">{{currentTime}}</div>
	<div class="date-container">{{Time}}</div>
</div>
<style>
.box {
	border: 1px solid rgb(197, 197, 197);
	width:120px;
	float:left;
	border-radius:8px;
	padding:10px;
	background-color: black;
	color: #fff;
}
.time-container{
	border: 1px solid #6C6C6C;
	padding-left: 15px;
	border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.city-container{
	text-align: center;
}
.fadein, .fadeout {
	opacity: 0;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
.fadein {
	opacity: 1;
}
</style>